{% extends 'layout.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            {{ title }}
        </div>
        <div class="card-body" id="app">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="mt-2">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Child Process</label>
                            <div class="row">
                                <div class="col-6">
                                    <input class="form-control" value="Child Process Name" v-model='newChildProcess' disabled>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <select class="form-control" id="exampleFormControlSelect1" v-model='parentChildProcess'>
                                            <option value="no_gui" selected >No GUI</option>
                                            <option value="grid" selected >Grid</option>
                                            <option value="master_data" selected >Master Data</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <button class="btn btn-primary my-4" v-on:click="exportProcess">
                <i class="fa fa-arrow-right pr-3"></i>
                Next
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            process: [],
            newChildProcess: "test",
            parentChildProcess:"no_gui"
        },
        methods: {
            addProcess: function () {
                name = this.newProcess;
                parent = null;
                obj = {
                    'name': name,
                    'parent': parent,
                };
                this.newProcess = '';
                this.process.push(obj);
            },
            addChildProcess: function () {
                name = this.newChildProcess;
                parent = this.parentChildProcess;
                console.log(name)
                console.log(parent)
                obj = {
                    'name': name,
                    'parent': parent,
                };
                this.newChildProcess = '';
                this.parentChildProcess = 0;
                this.process.push(obj);
            },
            removeProcess: function (index) {
                this.process.splice(index, 1);
            },
            exportProcess: function () {
                process = this.json_stringify
                // console.log(process)
                path = "{{ url_for('add_process_func') }}"  + "?process=" + process;
                window.location.replace(path);
            }
        },
        computed: {
            processFor: function () {
                return this.process.length;
            },
            json_stringify: function(){
                return JSON.stringify(this.process)
            }
        }
    })
</script>
{% endblock %}