{% extends 'layout.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            {{ title }}
        </div>
        <div class="card-body" id="app">

            <div v-for='i in relationFor'>
                <button-counter :name='relation[i-1]'></button-counter>
            </div>

            <div class="row">
                <div class="col-6">
                    <a class="btn btn-primary btn-block text-white mt-3" v-on:click="addRelation">
                        <i class="fa fa-plus pr-2"></i> Add Relation
                    </a>
                </div>
            </div>


            <button class="btn btn-primary my-4" v-on:click="exportRelation">
                <i class="fa fa-arrow-right pr-3"></i>
                Next    
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    Vue.component('button-counter', {
        delimiters: ["[[", "]]"],
        props: ['name', ],
        data: function () {
            return {
                count: 0,
                attr_name: '',
                attr: [],
            }
        },
        methods: {
            delete_rel: function (id) {
                this.$root.removeRelation(id);
            },
            add_attr: function(){
                this.attr.push(this.attr_name);
                this.attr_name = '';
            },
            removeAttr: function(index){
                this.attr.splice(index, 1);
            }
        },
        template: `
        <div v-bind:id='name'>
            <button>[[ name ]]</button>
            <button v-on:click="delete_rel(name)">delete</button>
        </div>
        `
    });
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            relation: [],
            count: 0,
        },
        methods: {
            addRelation: function () {
                rl_id = 'rl-' + this.count;
                this.relation.push(rl_id);
                this.count++;
                console.log(this.relation[0])
            },
            removeRelation: function (id) {
                var index = this.relation.indexOf(id);
                this.relation.splice(index, 1);
            },
            exportRelation: function () {
                process = this.json_stringify;
                // path = "{{ url_for('add_process_func') }}" + "?process=" + process;
                // window.location.replace(path);
            }
        },
        computed: {
            relationFor: function () {
                return this.relation.length;
            },
            json_stringify: function () {
                return JSON.stringify(this.relation)
            }
        }
    })

</script>
{% endblock %}