{% extends 'layout.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            Add Datastore
        </div>
        <div class="card-body" id="app">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="mt-2">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Datastore Name</label>
                            <div class="row">
                                <div class="col-9">
                                    <input class="form-control" placeholder="Datastore Name" v-model='newDataStore'
                                        v-on:keyup.enter='addDataStore'>
                                </div>
                                <div class="col-3">
                                    <a class="btn btn-primary text-white" v-on:click="addDataStore"> <i
                                            class="fa fa-plus pr-2"></i> Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Datastore Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="i in dataStoreFor">
                                <td>[[ i ]]</td>
                                <td :id="[[ 'dataStore-' + i ]]" class="entityName">[[ dataStore[i-1] ]]</td>
                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm text-white" v-on:click='removeDataStore([[ i-1 ]])'>
                                        <i class="fa fa-minus pr-2"></i>
                                        Remove
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="#" class="btn btn-primary my-2">
                <i class="fa fa-arrow-right pr-3"></i>
                Next
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            dataStore: [],
            newDataStore: "",
        },
        methods: {
            addDataStore: function () {
                this.dataStore.push(this.newDataStore);
                this.newDataStore = '';
            },
            removeDataStore: function(index){
                this.dataStore.splice(index, 1);
            }
        },
        computed: {
            dataStoreFor: function () {
                return this.dataStore.length;
            }
        }
    })
</script>
{% endblock %}  