{% extends 'layout.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            {{ title }}
        </div>
        <div class="card-body" id="app">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="mt-2">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Parent Process</label>
                            <div class="row">
                                <div class="col-9">
                                    <input class="form-control" placeholder="Process Name" v-model='newProcess'
                                        v-on:keyup.enter='addProcess'>
                                </div>
                                <div class="col-3">
                                    <a class="btn btn-primary text-white" v-on:click="addProcess">
                                        <i class="fa fa-plus pr-2"></i> Add Parent
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Child Process</label>
                            <div class="row">
                                <div class="col-6">
                                    <div v-if='this.process.length > 0'>
                                        <select class="form-control" id="exampleFormControlSelect1" v-model='parentChildProcess'>
                                            <option value="0" selected disabled>Parent Process</option>
                                            <option v-for='i in process' v-bind:value="i['name']">[[ i['name'] ]]</option>    
                                        </select>
                                    </div>
                                    <div v-else>
                                        <select class="form-control" id="exampleFormControlSelect1" v-model='parentChildProcess'>
                                            <option value="0" selected disabled>Parent Process</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <input class="form-control" placeholder="Child Process Name" v-model='newChildProcess'
                                        v-on:keyup.enter='addChildProcess'>
                                </div>
                            </div>
                            <a class="btn btn-primary text-white mt-3" v-on:click="addChildProcess" disabled>
                                <i class="fa fa-plus pr-2"></i> Add Child
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-lg-8 col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Process Name</th>
                                <th>Parent Process</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for='i in processFor'>
                                <td>[[ i ]]</td>
                                <td>[[ process[i-1]['name'] ]]</td>
                                <td>[[ process[i-1]['parent'] ]]</td>
                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm text-white" v-on:click='removeProcess([[ i-1 ]])'>
                                        <i class="fa fa-minus pr-2"></i> Remove
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <button class="btn btn-primary my-4" v-on:click="exportProcess">
                <i class="fa fa-arrow-right pr-3"></i>
                Next
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            process: [],
            newProcess: "",
            newChildProcess: "",
            parentChildProcess:"0"
        },
        methods: {
            addProcess: function () {
                name = this.newProcess;
                parent = null;
                obj = {
                    'name': name,
                    'parent': parent,
                };
                this.newProcess = '';
                this.process.push(obj);
            },
            addChildProcess: function () {
                name = this.newChildProcess;
                parent = this.parentChildProcess;
                console.log(name)
                console.log(parent)
                obj = {
                    'name': name,
                    'parent': parent,
                };
                this.newChildProcess = '';
                this.process.push(obj);
            },
            removeProcess: function (index) {
                this.process.splice(index, 1);
            },
            exportProcess: function () {
                process = this.json_stringify
                // console.log(process)
                path = "{{ url_for('add_process_func') }}"  + "?process=" + process;
                window.location.replace(path);
            }
        },
        computed: {
            processFor: function () {
                return this.process.length;
            },
            json_stringify: function(){
                return JSON.stringify(this.process)
            }
        }
    })
</script>
{% endblock %}