{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-xl-7 mb-5 mb-xl-0">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0">Latest Project</h4>
                    </div>
                    <div class="col text-right">
                        <a href="{{ url_for('project_list') }}" class="btn btn-sm btn-primary">See all</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">Project</th>
                            <th scope="col" class="sort" data-sort="date_updated">Date Updated</th>
                            <th scope="col" class="sort" data-sort="data_uploaded">Date Uploaded</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for project in projects["latest"] %}
                        <tr>
                            <th scope="row">
                                <span class="name mb-0 text-sm">{{ project.project_name }}</span>
                            </th>
                            <td>
                                {{ project.date_uploaded.strftime("%d %b %Y. %H:%M") }}
                            </td>
                            <td>
                                {{ project.date_accessed.strftime("%d %b %Y. %H:%M") }}
                            </td>
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#">View</a>
                                        <a class="dropdown-item" href="#">Download</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-5">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0">Recently Opened</h4>
                    </div>
                    <div class="col text-right">
                        <a href="{{ url_for('project_list') }}" class="btn btn-sm btn-primary">See all</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Project</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects["recent"] %}
                        <tr>
                            <th scope="row">
                                {{ project.project_name }}
                            </th>
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#">View</a>
                                        <a class="dropdown-item" href="#">Download</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Project</h5>
                        <span class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fas fa-box"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}