<html>
<head>

<title> Edit process </title>
<link rel="stylesheet" href="../static/dist/css/adminlte.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="form-group form-edit d-flex justify-content-start">
  <form class ="p-2 bd-highlight">
      <div class ="justify-content-center">
        <h1> Nama proses </h1>
      </div>
      <div class="justify-content-end">
        <label for="exampleInputEmail1">entitas</label>
        <input type="email" class="form-control margin-form" id="exampleInputEmail1" aria-describedby="emailHelp">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div class="form-group">
          <label for="exampleInputPassword1">data json</label>
          <input type="password" class="form-control margin-form" id="exampleInputPassword1">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Proses</label>
          <input type="email" class="form-control  margin-form" id="exampleInputEmail1" aria-describedby="emailHelp">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <label for="exampleInputEmail1">relasi</label>
        <div class="d-flex flex-row bd-highlight mb-3">
          <input type="email" class="form-control  margin-right" id="exampleInputEmail1" aria-describedby="emailHelp">
          <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
</form>
</div>

</body>

</html>
