<!DOCTYPE html>
<html>
<head>
  {% include 'includes/head.html' %}
</head>
<body class="hold-transition login-page new-background">
  <div class="login-logo new-logo">
    <a href="index2.html"><b>DFD2</b>GUI</a>
  </div>
  <div class="new-caption">
    <p>A web application to make developers easier to build 
      the Data Flow Diagrams interfaces
    </p>
  </div>
  <!-- /.login-logo -->
<div class="login-box">
  <div class="card py-3">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form method="post">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
          {{ form.email(class="form-control", placeholder="Email") }}
          <!-- <input type="email" class="form-control" placeholder="Email"> -->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password(class='form-control', placeholder='Password') }}
          <!-- <input type="password" class="form-control" placeholder="Password"> -->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-8">
            <div class="icheck-primary">
              {{ form.remember_me(id='remember') }}
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            {{ form.submit(class="btn btn-primary btn-block") }}
            <!-- <button type="submit" class="btn btn-primary btn-block">Sign In</button> -->
          </div>
          <!-- /.col -->
          <div class="col-12 my-2">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span class="alert-text">{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </form>

      <!-- /.social-auth-links -->
      <p class="mb-0">
        <a href="{{ url_for('register') }}" class="text-center">Register a new account</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% include 'includes/script.html' %}

</body>
</html>
