{% extends 'layout.html' %}

{% block head %}
<style>
    .upload-form {
        max-width: 50%;
    }

    @media (min-width: 300px) {
        .upload-form {
            max-width: 90%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-xl-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="container upload-form">
                    <div class="row">
                        <div class="col-6 offset-3">
                            <h1 class="text-center mt-4">
                                Upload File Metadata DFD
                            </h1>
                            <form method="POST" class="mt-4" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {% if form.project_name.errors %}
                                        <label for="project-name">Project Name</label>
                                        {{ form.project_name(class="form-control is-invalid", placeholder="Your Project Name") }}
                                        {% for error in form.project_name.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <label for="project-name">Project Name</label>
                                        {{ form.project_name(class="form-control", placeholder="Your Project Name") }}
                                    {% endif %}
                                </div>
                                <div class="form-group my-4">
                                    {{ form.submit(class="btn btn-primary px-5") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}