<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="../../index2.html"><b>DFD2</b>GUI</a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>

        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="input-group mb-3">
            <!-- <input type="text" class="form-control" placeholder="Full name"> -->
            {{ form.name(class='form-control', placeholder="Full name") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.email(class='form-control', placeholder="Email") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.password(class='form-control', placeholder="Password") }}
            <!-- <input type="password" class="form-control" placeholder="Password"> -->
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.confirm_password(class='form-control', placeholder="Confirm Password") }}
            <!-- <input type="password" class="form-control" placeholder="Retype password"> -->
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row py-4">
            <!-- /.col -->
            <div class="col-12">
              {{ form.submit(class='btn btn-primary btn-block') }}
              <!-- <button type="submit" class="btn btn-primary btn-block">Register</button> -->
            </div>
            <!-- /.col -->
          </div>
        </form>


        <a href="{{ url_for('login') }}" class="text-center">I already have a membership</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->

  {% include 'includes/script.html' %}
</body>

</html>