<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="hold-transition register-page new-background">
  <div class="login-logo new-logo">
    <a href="index2.html"><b>DFD2</b>GUI</a>
  </div>
  <div class="new-caption">
    <p>A web application to make developers easier to build 
      the Data Flow Diagrams interfaces
    </p>
  </div>
  <div class="register-box">
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new account</p>
        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="input-group mb-3">
            {% if form.name.errors %}
              {{ form.name(class='form-control is-invalid', placeholder="Full name") }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
              {% for error in form.name.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
            {% else %}
            {{ form.name(class='form-control', placeholder="Full name") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            {% if form.email.errors %}
              {{ form.email(class='form-control is-invalid', placeholder="Email") }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              {% for error in form.email.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
            {% else %}
            {{ form.email(class='form-control', placeholder="Email") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            {% if form.password.errors %}
              {{ form.password(class='form-control is-invalid', placeholder="Password") }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              {% for error in form.password.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
            {% else %}
            {{ form.password(class='form-control', placeholder="Password") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            {% if form.confirm_password.errors %}
              {{ form.confirm_password(class='form-control is-invalid', placeholder="Confirm password") }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              {% for error in form.confirm_password.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
            {% else %}
            {{ form.confirm_password(class='form-control', placeholder="Confirm password") }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="row py-4">
            <!-- /.col -->
            <div class="col-12">
              {{ form.submit(class='btn btn-primary btn-block') }}
              <!-- <button type="submit" class="btn btn-primary btn-block">Register</button> -->
            </div>
            <!-- /.col -->
          </div>
        </form>


        <a href="{{ url_for('login') }}" class="text-center">I already have a account</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->

  {% include 'includes/script.html' %}
</body>

</html>